#outer 
{
    margin:auto;
    min-height:100%;
    margin-top:-40px;/*footer height - this drags the outer 40px up through the top of the monitor */
}

/* #inner protects any floats in the content from clearing the :before float */
#inner 
{
}

.windowHeader
{
	color: #FFF;
	background-color: #1D374F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	padding: 2px 5px 2px 10px;
	vertical-align: middle;
}

.listHeader
{
    color: #000;
    background-color: #BBB;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
	margin: 10px 5px 0px 10px;
    vertical-align: middle;
}

.tableHeader
{
	color: #FFF;
	background-color: #1D374F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	padding: 2px 2px 2px 2px;
	vertical-align: middle;
}

.tableSubHeader
{
	color: White;
	background-color: Gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	padding: 2px 2px 2px 2px;
	vertical-align: middle;
}

.tableCell
{
	color: #1D374F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	padding: 2px 2px 2px 2px;
}

.tableCellBold
{
	color: #1D374F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	padding: 2px 2px 2px 2px;
	font-weight: bold;
}

.tableCell2
{
	background-color: #EEEEEE;
	color: #1D374F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	padding: 2px 2px 2px 2px;
}

.tabButton
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #D2EBFF;
	background: url(images/tabbutton.jpg) repeat-x left top;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.selectedTabButton
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	background-color: #1D374F;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.containerDiv
{
	border: 1px solid #1D374F;
}

.spacer
{
	font-size: 0px;
	height: 10px;
}

.spacerBIG
{
	font-size: 0px;
	height: 100px;
}

.button
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px 10px 2px 10px;
	margin: 7px 10px 10px 10px;
	cursor: pointer;
	width: 80px;
}

.buttonList
{
/*
    color:#050;
    font: bold 84% 'trebuchet ms',helvetica,sans-serif;
	 background-color:#fed;
*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
	margin: 0px 2px 0px 0px;
	padding: 0px 6px 0px 6px; 

    border: 1px solid;
    border-color: #777 #333 #333 #777;

    height: 18px;
    cursor: pointer;
}

.buttonRestart
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px 10px 2px 10px;
	margin: 3px;
	cursor: pointer;
	width: 70px;
}

.buttonSimple
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px 0px 2px 0px;
	cursor: pointer;
	width: 70px;
}

.buttonFilter
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px 0px 2px 0px;
	cursor: pointer;
	width: 70px;
	margin: 5px;
}

.inputText
{
	border: solid 1px #1D374F;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
    width: 150px;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px; 
}

.dropdown
{
	border: solid 1px #1D374F;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
    width: 154px;
}

.labels
{
	color: #1D374F;		
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	padding: 2px 0px 2px 10px
}

.checklabel
{
	color: #1D374F;		
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	padding: 0px 0px 0px 0px
}

.checklabelsmall
{
    color: #1D374F;     
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;    
    padding: 0px 0px 0px 0px
}

.listAlternateItem
{
    background-color : #EEEEEE;
}

.listAlternateErrorItem
{
    background-color : #EEEEEE;
	color: red;
}

.listErrorItem
{
    color: red;
}

.opResultRed
{
	color: red;		
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
    font-weight : bold ;
	padding: 2px 0px 2px 10px
}

.opResultGreen
{
	color: green;		
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
    font-weight : bold ;
	padding: 2px 0px 2px 10px
}

.buttonCell
{
	border-top: solid 1px #1D374F;
}


/** BASIC */

html
{
    height:100%;/* needed to base 100% height on something known*/
}

body 
{
    height:100%;/* needed to base 100% height on something known*/
	margin: 0px;
	padding: 0px;
	background: url(images/img02.jpg) repeat-x left top;
	line-height: 20px;
	text-align: justify;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

/*Opera Fix*/
body:before 
{
    content:"";
    height:100%;
    float:left;
    width:0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: #0077dd;
}

a:hover {
	text-decoration: none;
}


a.white {
	color: #FFFFFF;
}

a.white :hover {
	text-decoration: none;
}

a.tabLink {
	color: #000000;
    text-decoration: none;
}

a.tabLink :hover {
	text-decoration: none;
}

.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list1 a {
	background: url(images/img01.gif) no-repeat left 60%;
	padding-left: 12px;
}

.list2 {
	margin: 0;
	list-style: none;
}

.list2 a {
	background: url(images/img01.gif) no-repeat left 60%;
	padding-left: 12px;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 3px 20px 0px 0px;
}

/** HEADER */

#header {
	width: 1200px;
	margin: 0px auto;
	padding: 1em;
	height: 85px;  /*was 90px*/
	color: #254360;
	font-size: 16px;
	border-top:40px solid #fff; /* soak up negative margin and allows header to start at top of page*/
}

#header h1 {
	margin: 0px;
	padding: 20px 0px 0px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

#header h2 {
	margin: 0 0 0 -80px;
	padding: 0px 0px 0px 95px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

/** CONTENT */

#content {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 20px 0px;
}

.contentLogin {
	width: 778px;
	margin: 0px auto;
	padding: 150px 0px 20px 0px;
}

#columnA {
	float: right;
	width: 980px;
	padding-left: 20px;
	border-left: 1px dashed #EEEEEE;
}

#columnA h2 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	font-size: 12pt;
	font-weight: bold;
}

#columnB {
	float: left;
	width: 150px;
	padding-left: 30px;
}

#columnB h3 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	border-spacing: 2px;
	font-size: 11pt;
	font-weight: bold;
}

/** FOOTER */

#footer 
{
    margin:auto;
	width:100%;
    height:40px;/* must match negative margin of #outer */
	background: url(images/img03.gif) repeat-x left top;
	text-align: center;
    clear:both;
}

#footer p 
{
	margin: 0px;
	padding: 10px 0px 0px 0px;
	font-size: 10px;
	color: #FFFFFF;
}
